*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.rawproto
.idea
*.mp4
2018/presentations
2019/ClapApp/app/release/
